.buttonCell {
    width: 40px;
}

.headWrapper {
    margin-bottom: 30px;
}

.headWrapper > button {
    align-self: flex-end;
    margin-left: 260px;
    margin-top: -50px;
}

.headWrapper > button > a {
    text-decoration: none;
}

.headWrapper > button > a:hover {
    color: #ffffff;
}